@model Turnos.Models.Especialidad

<h4>Especialidad</h4>

<div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Description"></label>
            <input asp-for="Description" />
            <span asp-validation-for="Description"></span>
        </div>
        <div>
            <input type="submit" value="Guardar" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Volver</a>
</div>