@model IEnumerable<Turnos.Models.Especialidad>

<p>
    <a class="btn-floating btn-large waves-effect waves-light green" asp-action="Create"><i class="material-icons">post_add</i></a>
</p>

<table class="responsive-table highlight z-depth-3">
    <thead class="lime darken-2 white-text">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="lime lighten-5">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEspecialidad">
                        <i class="material-icons">edit</i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.IdEspecialidad">
                        <i class="material-icons red-text">delete</i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
